.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 100vh;
    color: #fff;
}

.endpoint {
    margin-top: 30px;
    background: #3c3650;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0.8;
}

.response {
    background: #3c3650;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
    min-height: 450px;
    border: 0;
    resize: none;
    outline: 0;
}

.btnWrapper {
    text-align: center;
}

.responseWrapper {
    position: relative;
    margin: 30px 0;
}

.beautifyBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #3fb950;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #3fb950;
    outline: 0;
    font-size: 13px;
    font-weight: 500s;
    cursor: pointer;
}

.beautifyBtn:hover {
    color: #fff;
    background: #3fb950;
}